<app-navbar></app-navbar>

<div class="wrapper bg-marine">
  <div class="wrapped-div">
    <div class="tab-header mb-2">
      <h2>Change Password</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">

        <form [formGroup]="formModel" class="mb-4" autocomplete="off" (submit)="onSubmit()">
          <div class="form-group required">
            <label>Current Password</label>
            <input type="password" class="form-control" formControlName="CurrentPassword">
            <label class="text-danger"
              *ngIf="formModel.get('CurrentPassword')!.touched && formModel.get('CurrentPassword')!.errors?.required">This
              field is required.</label>
          </div>
          <div class="form-group required">
            <label>New Password</label>
            <input type="password" class="form-control" formControlName="NewPassword">
            <label class="text-danger"
              *ngIf="formModel.get('NewPassword')!.touched && formModel.get('NewPassword')!.errors?.required">This
              field is required.</label>
          </div>
          <div class="form-group required">
            <label>Confirm New Password</label>
            <input type="password" class="form-control" formControlName="ConfirmNewPassword">
            <label class="text-danger"
              *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.required">This
              field is required.</label>
            <label class="text-danger"
              *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.passwordMismatch">Confirm New
              Password does not match.</label>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <button type="submit" class="btn btn-lg btn-block" [disabled]="!formModel.valid">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>