<nav class="navbar bg-marine">
  <a class="navbar-brand text-white">MedicUI</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onHome()">Home</button>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onAbout()">About</button>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onChangePassword()">Change Password</button>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onUpdateAccount()">Update Account</button>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
