/* You can add global styles to this file, and also import other style files */
.bg-marine{
  background-color: #0053a0;
}

input.form-control:focus{
  box-shadow: none;
}

button[type=submit].btn{
  background-color: #0053a0;
  color: #fff;
}

div.form-group label:not(.text-danger){
  font-weight: 700;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #ff0000;
  padding-left: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 4px 8px #0000000d;
}

/* Tabs */
.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #cacaca;
  border-bottom: 2px solid #cacaca;
}

.tab-header h2:focus {
    outline: none;
}

form{
    margin: 0px 16px;
}

div.form-group input.invalid{
  border: 1px solid #ff0000; 
}
div.form-group label:first-child{
  font-size: 0.9rem;
}
