/* You can add global styles to this file, and also import other style files */
.bg-marine{
  background-color: #0053a0;
}

input.form-control:focus{
  box-shadow: none;
}

button[type=submit].btn{
  background-color: #0053a0;
  color: #fff;
}

div.form-group label:not(.text-danger){
  font-weight: 700;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #ff0000;
  padding-left: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 4px 8px #0000000d;
}

/* Tabs */
.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #cacaca;
  border-bottom: 2px solid #cacaca;
}

.tab-header h2:focus {
    outline: none;
}

form{
    margin: 0px 16px;
}

div.form-group input.invalid{
  border: 1px solid #ff0000; 
}
div.form-group label:first-child{
  font-size: 0.9rem;
}


/* Angular Notifier */

.notifier__container * {
  box-sizing: border-box;
}
.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.notifier__notification {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}
.notifier__notification--material .notifier__notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 32px;
  font-size: 15px;
}
.notifier__notification--material .notifier__notification-button {
  display: inline-block;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}
.notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
  opacity: 1;
}
.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--success {
  background-color: #5cb85c;
  color: #fff;
}
.notifier__notification--success .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--default {
  background-color: #444;
  color: #fff;
}
.notifier__notification--default .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--error {
  background-color: #d9534f;
  color: #fff;
}
.notifier__notification--error .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--warning {
  background-color: #f0ad4e;
  color: #fff;
}
.notifier__notification--warning .notifier__notification-button-icon {
  fill: #fff;
}
